.list-title{
    text-align: center;
  }
  
  .task-list {
    font-family: Arial, sans-serif;
  }
  
  .add-task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 500px;
  }
  
  .add-task input {
    flex: 1;
    padding: 10px;
    border: 1px solid green;
    box-shadow: 0 0 5px;
  }
  
  .add-task button {
    margin-left: 10px;
    padding: 5px 10px;
    color: green;
  }
  
  .tasks {
    list-style: none;
    padding: 0;
  }
  
  .tasks li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
  }
  
  .tasks li.completed{
    text-decoration: line-through;
    color: #999;
  }
  
  .tasks input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .delete-icon {
    cursor:pointer;
    margin-left: 6px;
    z-index: 1;
  }
  
  .delete-icon::before {
    content: "❌";
    display: inline-block;
  }
  